# ml models
*.h5
*.pt
*.ckpt
*.hdf5
*.npz
*.tfrecords
# other large files
*.zip
*.tar.gz
*.v2
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
*.dat
*.logs
*.log
*.out
.logs
saved_params
.predictions
.saved_models